[Unit]
Description=SimpleGpio

[Service]
Type=notify
WorkingDirectory=/var/www/simplegpio
ExecStart=/var/www/simplegpio/SimpleGpio
Restart=always
RestartSec=5
# Restart service after 10 seconds if the dotnet service crashes:
KillSignal=SIGINT
SyslogIdentifier=simplegpio
User=www-data
Group=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
Environment=ASPNETCORE_URLS=http://*:80/;http://*:8080/;

# give the executed process the CAP_NET_BIND_SERVICE capability. This capability allows the process to bind to well known ports.
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target