<div>
    <label for="pinValueCheckbox-@Pin.PinNumber">Pin @Pin.PinNumber:
        <input type="checkbox" id="pinValueCheckbox-@Pin.PinNumber" @bind="@Pin.PinValue" />
    </label>
</div>

@code {
    [Parameter]
    public GpioPin Pin { get; set; } = default!;
}